/*
Author			:	Rajendra Prasad A
URL				:	http://behance.net/madebyraj
Company Name	:	DoozyPixels
Company URL		: 	http://www.doozypixels.com
Theme			: 	Blue

*** COLOR GUIDANCE ***
Just  replace the coresponding hex values to your own theme color

Dark blue		:	#175769;
Blue			:	#258aa7;

*/

body{background: #e2e2e2; padding:60px 0 180px;font-family: "Droid Sans", serif; }
h1,h2,h3,h4,h5,h6,p,textarea,input{font-family: "Droid Sans", serif;}
.fullwidth{width:100%; height:100%;}
.primary-bg{background:#258aa7 url(../img/banner-bg-blue.png);}
.secondary-bg{background:#e2e2e2 url(../img/how-to-bg.png);}
a{ color:#258aa7;}
a:hover{color:#175769;}

/* Header */
.navbar-inner{background-color: #030303; background-image:none;}
.navbar-inner .container{color:#4e4e4e; }
.brand{ background:url(../img/logo.png) no-repeat; width:87px; height:26px; display:block; text-indent:-9999px; margin-top:22px;}
.navbar .nav{margin-top:18px;}
.nav a{font-family: 'Droid Sans', serif; font-weight: 700; outline:none;}
.nav li.contest a{color:#258aa7; cursor: text;}
.nav li.contest a:hover{color:#258aa7;}

.droid-sans-normal{font-family: 'Droid Sans', serif; font-weight: 400;}
.droid-sans-bold{font-family: 'Droid Sans', serif; font-weight: 700;}
::-moz-selection{ background:#175769; color:#fff;}
::-webkit-selection{ background:#175769; color:#fff;}
::selection{ background:#175769; color:#fff;}

/* Banner */
#banner .container{ padding-bottom:40px;}
h1{color:#fff; font-size:50px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75); font-weight: 400; text-align:center; line-height:60px; margin:40px 0;}
#contest-description h2{color:#fff; font-size:22px; font-weight: 400; margin-bottom:20px;}
#contest-description p{ color:#fff; font-size:16px; font-weight: 400; line-height:22px;}
#contest-description p a.btn{margin-top:10px; color:#258aa7;}

#video{ 
background:#fff;
-webkit-border-radius: 5px; 
-moz-border-radius: 5px; 
border-radius: 5px; 
height:250px; 
text-align:center;
margin-bottom:20px;
-webkit-box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.2);  
-moz-box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.2);     
box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.2);}
.video-placeholder{	background:#cacaca;	margin:20px; 	color:#258aa7;	padding-bottom:45px; position:relative;height:165px;}
#icon i{font-size:100px; background:none; position:absolute; top:40%; left:40%;}
/* How To Enter */
#how-to{padding-top:65px;}
#how-to .container{ padding-bottom:40px; }
#how-to .container h2{ font-size:28px; color:#212121;font-weight: 700;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.50); text-align:center; padding:30px 0;}
.border-bottom{ /*border-bottom:solid 1px rgba(255,255,255,0.5);*/ background:url(../img/border.png) repeat-x bottom;}
.how-to-desc{color:#212121; font-size:16px; font-weight: 400; margin:30px 0; text-align:center; line-height:22px;}
.steps{ 
margin-top:40px;
position:relative;
background:#fff; 
min-height:230px;
border:solid 5px #258aa7;
-webkit-border-radius: 15px; 
-moz-border-radius: 15px; 
border-radius: 15px; }

.steps .step{ position:absolute; top:-30px; left:40%; width:20px; height:20px; border:solid 5px #258aa7; color:#fff;  padding:15px;
font-weight: 700; font-size:28px;
text-align:center;
-webkit-border-radius: 30px; 
-moz-border-radius: 30px; 
border-radius: 30px;
background:#010101;
background: -moz-linear-gradient(top, #303030 0%, #010101 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(100%,#010101)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #303030 0%,#010101 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #303030 0%,#010101 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #303030 0%,#010101 100%); /* IE10+ */
background: linear-gradient(top, #303030 0%,#010101 100%); /* W3C */
 }

.step-content{ margin:50px 0 0;text-align:center;}
.step-icon{margin:0px 115px; text-align:left;font-size:80px;color:#258aa7; padding:10px 0;}
.step-icon i{line-height:60px;}
.step-content h3{ font-size:18px; color:#212121;font-weight: 700;}
.step-content p{ font-size:14px; color:#4e4e4e; padding:5px 15px;}


/* Enter the Contest */
#enter-contest{padding-top:65px;}
#enter-contest .container{ padding-bottom:40px; }
#enter-contest .container h2{ font-size:28px; color:#ffffff;font-weight: 700;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.50); text-align:center; padding:30px 0;}

.contest-step{margin-top:40px; border:solid 5px #000000; background:#fff; min-height:350px;
-webkit-border-radius: 15px; 
-moz-border-radius: 15px; 
border-radius: 15px;}
.contest-step h3{ color:#fff; font-weight:700; font-size:18px; text-align:center; padding:10px 0;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.80);
background:#010101;
background: -moz-linear-gradient(top, #303030 0%, #010101 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(100%,#010101)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #303030 0%,#010101 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #303030 0%,#010101 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #303030 0%,#010101 100%); /* IE10+ */
background: linear-gradient(top, #303030 0%,#010101 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#010101',GradientType=0 ); /* IE6-9 */ 
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright:8px;
-moz-border-radius-bottomleft:0px;
-moz-border-radius-bottomright:0px;
-webkit-border-top-left-radius:80px;
-webkit-border-top-right-radius:8px;
-webkit-border-bottom-left-radius:0px;
-webkit-border-bottom-right-radius:0px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;

}
.contest-step-in{margin:15px;}
.contest-step-in h4{font-size:14px; font-weight:700;}
.contest-step-in p{ padding:10px 0; color:#4e4e4e;}
.email{width:245px; padding:5px; height:30px; margin-bottom:10px!important;}


/* Footer */
#footer{border-top:solid 1px rgba(0,0,0,0.5);}
#footer .container{ text-align:center;}
#footer p{color:#4e4e4e; font-size:12px; padding:20px 0 15px;}

/* Modal Header */
.modal-header{ 
background:#258aa7; 
color:#fff; 
border-bottom:solid 1px #175769;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.50);
-webkit-border-radius: 6px 6px 0 0;
-moz-border-radius: 6px 6px 0 0;
border-radius: 6px 6px 0 0;
}